<!DOCTYPE html>
<html>
  <head>
     <link rel="stylesheet" href="style.css">
    <title>HTML</title>
  </head>
  <body>
    <header>
      <h1><a href="index.html">Tech Blog</a></h1>
   </header>
   <article>

     <h1>CSS Layout</h1>
     
     <h3>Single Column</h3>
      
        <html>
    <p class="codepen" data-height="300" data-default-tab="html,result" data-slug-hash="BawLmxa" data-user="student149242" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/student149242/pen/BawLmxa">
  Single column</a> by student149242 (<a href="https://codepen.io/student149242">@student149242</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>

    <p>The single column layout is mostly used in personal blogs or minimilistic design.The Single column layouts present the main content in a single, vertical column.
</p>


     
     <h3>Split-Screen</h3>
     
     <html>
  <p class="codepen" data-height="300" data-default-tab="html,result" data-slug-hash="oNGzdBr" data-user="student149242" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/student149242/pen/oNGzdBr">
  CSS layout - Split Screen</a> by student149242 (<a href="https://codepen.io/student149242">@student149242</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
     
     <p>The Split-Screen is a type of website design layout.The Split Screen layout is mostly used when a designer makes a page that has two main pieces of content of equal importance.It can also be used with color to make one side pop out more than the other.The Split Screen layout presents the  parts of content in a grid-template-column form.
</p>
     
     <h3>Micro vs Macro</h3>
     
      <html>
            
   <p class="codepen" data-height="300" data-default-tab="html,result" data-slug-hash="dyVpevx" data-user="student149242" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/student149242/pen/dyVpevx">
  Macro vs Micro Layout</a> by student149242 (<a href="https://codepen.io/student149242">@student149242</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
     
     <p>The Micro and Macro design layout is mostly used to have a different design for any type of display with a bigger screen or a smaller screen.</p>
